* {
  box-sizing: border-box;
}

html, body, main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* --------------------
    ナビゲーションバー
-------------------- */

.navbar {
  margin: 0;
  padding: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: #fff;
  background: #F3ECEC;
  border-top: solid 10px #14539a;
}

.navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.logo {
  color: #707070;
  font-size: 30;
  z-index: 2;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  z-index: 2;
}

.menu-item:not(:last-child) {
  border-right: 1px solid #707070;
  padding-right: 30px;
  margin-right: 30px;
}

/* --------------------
        ヘッダー
-------------------- */

.jumbotron {
  width: 100%;
  position: relative;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  background-image: url(./ogawa.jpg);
  background-size: cover;
  border-bottom: solid 5px #000;
}

.jumbotron p {
  bottom: 30%;
  right: 5%;
  font-size: 40px;
  border-radius: 50px;
  box-shadow: 0 0 30px #F3ECEC;
  position: absolute;
  text-align: center;
  background: #fff;
  padding: 100px 50px;
  opacity: 85%;
}

/* --------------------
    メインコンテンツ
-------------------- */

.main-content {
  margin: 0 auto;
  width: 90%;
}

.name h2 {
  font-size: 50px;
}

.name h4 {
  font-size: 30px;
  letter-spacing: 10px;
}
